<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#FFFFFF</string>
	<string>#808080</string>
	<string>#000000</string>
	<string>#FF0000</string>
	<string>#FF7600</string>
	<string>#FFF500</string>
	<string>#14FF00</string>
	<string>#00FFFF</string>
	<string>#0093FF</string>
	<string>#8F21FF</string>
</array>
</plist>
