<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#FF4C4C</string>
	<string>#0099E5</string>
	<string>#FBB034</string>
	<string>#34BF49</string>
	<string>#D20962</string>
	<string>#F85A40</string>
	<string>#6A67CE</string>
	<string>#009BBB</string>
	<string>#2D72D9</string>
	<string>#FF0000</string>
	<string>#3B5998</string>
	<string>#2BB656</string>
	<string>#FF7300</string>
</array>
</plist>
