<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#D2D554</string>
	<string>#62A755</string>
	<string>#4493CE</string>
	<string>#486EB3</string>
	<string>#5A4C99</string>
	<string>#9459A1</string>
</array>
</plist>
