<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>f9d423</string>
		<string>f83600</string>
	</array>
	<array>
		<string>38ffff</string>
		<string>751bfe</string>
	</array>
	<array>
		<string>4c98ff</string>
		<string>ff0f62</string>
	</array>
	<array>
		<string>1500ff</string>
		<string>ff08d6</string>
	</array>
	<array>
		<string>083cfd</string>
		<string>70f23f</string>
	</array>
	<array>
		<string>fc5bc4</string>
		<string>6544ff</string>
	</array>
	<array>
		<string>aa4dff</string>
		<string>00e5ff</string>
	</array>
	<array>
		<string>5561ff</string>
		<string>f952da</string>
	</array>
	<array>
		<string>ff00ff</string>
		<string>ffc131</string>
	</array>
	<array>
		<string>ff0033</string>
		<string>5500ff</string>
	</array>
	<array>
		<string>651fff</string>
		<string>00e676</string>
	</array>
	<array>
		<string>00d300</string>
		<string>ece11f</string>
	</array>
	<array>
		<string>006fff</string>
		<string>00ff43</string>
	</array>
	<array>
		<string>00ffff</string>
		<string>0000ff</string>
	</array>
	<array>
		<string>00897b</string>
		<string>c6ff00</string>
	</array>
	<array>
		<string>08fafd</string>
		<string>f96cff</string>
	</array>
	<array>
		<string>954aff</string>
		<string>ff2661</string>
	</array>
	<array>
		<string>725bdf</string>
		<string>00d18c</string>
	</array>
	<array>
		<string>651fff</string>
		<string>ff9e80</string>
	</array>
	<array>
		<string>ff1744</string>
		<string>ffd740</string>
	</array>
	<array>
		<string>fff703</string>
		<string>d500f9</string>
	</array>
	<array>
		<string>ff40fc</string>
		<string>6cfffc</string>
	</array>
	<array>
		<string>00d5ed</string>
		<string>ffd740</string>
	</array>
	<array>
		<string>3dd8ff</string>
		<string>d500f9</string>
	</array>
	<array>
		<string>fff34a</string>
		<string>41ca4c</string>
	</array>
	<array>
		<string>fdd835</string>
		<string>623bff</string>
	</array>
	<array>
		<string>0090ff</string>
		<string>ffd54f</string>
	</array>
	<array>
		<string>fc00ff</string>
		<string>00dbde</string>
	</array>
	<array>
		<string>2979ff</string>
		<string>23db7d</string>
	</array>
	<array>
		<string>651fff</string>
		<string>00e5ff</string>
	</array>
	<array>
		<string>00ffff</string>
		<string>dc3094</string>
	</array>
</array>
</plist>
