<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#DA4656</string>
	<string>#E95F3F</string>
	<string>#EB7743</string>
	<string>#F1AA4B</string>
	<string>#F5C361</string>
	<string>#FFFE55</string>
</array>
</plist>
