<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Social</key>
	<array>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasInstagramPostUnselected</string>
			<key>Selected</key>
			<string>NCCanvasInstagramPostSelected</string>
			<key>ImageRatio</key>
			<string>1:1</string>
			<key>Size</key>
			<string>1080x1080</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasInstagramStoryUnselected</string>
			<key>Selected</key>
			<string>NCCanvasInstagramStorySelected</string>
			<key>ImageRatio</key>
			<string>9:16</string>
			<key>Size</key>
			<string>1080x1920</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasFacebookPostUnselected</string>
			<key>Selected</key>
			<string>NCCanvasFacebookPostSelected</string>
			<key>ImageRatio</key>
			<string>940:788</string>
			<key>Size</key>
			<string>940x788</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasFacebookCoverUnselected</string>
			<key>Selected</key>
			<string>NCCanvasFacebookCoverSelected</string>
			<key>ImageRatio</key>
			<string>1640:924</string>
			<key>Size</key>
			<string>1640x924</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasFacebookEventCoverUnselected</string>
			<key>Selected</key>
			<string>NCCanvasFacebookEventCoverSelected</string>
			<key>ImageRatio</key>
			<string>16:9</string>
			<key>Size</key>
			<string>1920x1080</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasFacebookAdUnselected</string>
			<key>Selected</key>
			<string>NCCanvasFacebookAdSelected</string>
			<key>ImageRatio</key>
			<string>1200:628</string>
			<key>Size</key>
			<string>1200x628</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasTwitterPostUnselected</string>
			<key>Selected</key>
			<string>NCCanvasTwitterPostSelected</string>
			<key>ImageRatio</key>
			<string>16:9</string>
			<key>Size</key>
			<string>1600x900</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasTwitterHeaderUnselected</string>
			<key>Selected</key>
			<string>NCCanvasTwitterHeaderSelected</string>
			<key>ImageRatio</key>
			<string>3:1</string>
			<key>Size</key>
			<string>1500x500</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasYouTubeThumbnailUnselected</string>
			<key>Selected</key>
			<string>NCCanvasYouTubeThumbnailSelected</string>
			<key>ImageRatio</key>
			<string>1280:720</string>
			<key>Size</key>
			<string>1280x720</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasYouTubeCoverUnselected</string>
			<key>Selected</key>
			<string>NCCanvasYouTubeCoverSelected</string>
			<key>ImageRatio</key>
			<string>2560:1440</string>
			<key>Size</key>
			<string>2560x1440</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasPinterestUnselected</string>
			<key>Selected</key>
			<string>NCCanvasPinterestSelected</string>
			<key>ImageRatio</key>
			<string>1000:1500</string>
			<key>Size</key>
			<string>1000x1500</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvasLinkedinBannerUnselected</string>
			<key>Selected</key>
			<string>NCCanvasLinkedinBannerSelected</string>
			<key>ImageRatio</key>
			<string>1584:396</string>
			<key>Size</key>
			<string>1584x396</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>RatioImage</string>
			<key>Selected</key>
			<string>RatioImage</string>
			<key>ImageRatio</key>
			<string></string>
		</dict>
	</array>
	<key>Ratio</key>
	<array>
		<dict>
			<key>Unselected</key>
			<string>FreeSizeImage</string>
			<key>Selected</key>
			<string>FreeSizeSelectedImage</string>
			<key>ImageRatio</key>
			<string></string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas11Unselected</string>
			<key>Selected</key>
			<string>NCCanvas11Selected</string>
			<key>ImageRatio</key>
			<string>1:1</string>
			<key>Size</key>
			<string>2048x2048</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas45Unselected</string>
			<key>Selected</key>
			<string>NCCanvas45Selected</string>
			<key>ImageRatio</key>
			<string>4:5</string>
			<key>Size</key>
			<string>1638x2048</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas54Unselected</string>
			<key>Selected</key>
			<string>NCCanvas54Selected</string>
			<key>ImageRatio</key>
			<string>5:4</string>
			<key>Size</key>
			<string>2048x1638</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas34Unselected</string>
			<key>Selected</key>
			<string>NCCanvas34Selected</string>
			<key>ImageRatio</key>
			<string>3:4</string>
			<key>Size</key>
			<string>1536x2048</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas43Unselected</string>
			<key>Selected</key>
			<string>NCCanvas43Selected</string>
			<key>ImageRatio</key>
			<string>4:3</string>
			<key>Size</key>
			<string>2048x1536</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas23Unselected</string>
			<key>Selected</key>
			<string>NCCanvas23Selected</string>
			<key>ImageRatio</key>
			<string>2:3</string>
			<key>Size</key>
			<string>1365x2048</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas32Unselected</string>
			<key>Selected</key>
			<string>NCCanvas32Selected</string>
			<key>ImageRatio</key>
			<string>3:2</string>
			<key>Size</key>
			<string>2048x1365</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas916Unselected</string>
			<key>Selected</key>
			<string>NCCanvas916Selected</string>
			<key>ImageRatio</key>
			<string>9:16</string>
			<key>Size</key>
			<string>1080x1920</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas169Unselected</string>
			<key>Selected</key>
			<string>NCCanvas169Selected</string>
			<key>ImageRatio</key>
			<string>16:9</string>
			<key>Size</key>
			<string>2048x1152</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas12Unselected</string>
			<key>Selected</key>
			<string>NCCanvas12Selected</string>
			<key>ImageRatio</key>
			<string>1:2</string>
			<key>Size</key>
			<string>1024x2048</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>NCCanvas21Unselected</string>
			<key>Selected</key>
			<string>NCCanvas21Selected</string>
			<key>ImageRatio</key>
			<string>2:1</string>
			<key>Size</key>
			<string>2048x1024</string>
		</dict>
		<dict>
			<key>Unselected</key>
			<string>SocialImage</string>
			<key>Selected</key>
			<string>SocialImage</string>
			<key>ImageRatio</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
